
.CodeMirror {
  height: 340px !important;
  color: #fff;
}

.CodeMirror-gutters {
  background: #1d1e22 !important;
}

.CodeMirror-scroll {
  background: #1d1e22;
}
.logo:active{
 zoom: 300%;
 margin-top: 10px !important;
 margin-bottom: 10px !important;
  
}